vue <template>
  <div class="flex">
    <!-- date and quantity -->
    <div
      class="text-blue w-60 text-12px text-center ml-10"
      v-for="item in getTop4Tour"
      :key="item.id"
    >
      <!-- date -->
      <div>
        {{ getTourData(item.date) }}
      </div>
      <!-- quantity -->
      <div class="mytag">可售{{ item.quantity }}位</div>
    </div>
    <div class="flex align-center">
      <div class="text-blue text-center p-6">更多日期</div>
    </div>
    <!-- day and price -->
    <div class="flex align-center ml-auto">
      <span class="dayPrice">{{ tourDays }}</span
      >天<span class="dayPrice">{{ minPrice }}</span
      >元起
    </div>
  </div>
</template>
<script>
export default {
  name: "CardFooter",
  props: {
    group: Array,
    tourDays: String,
    minPrice: String,
  },
  data: function () {
    return {
      myDate: ["一", "二", "三", "四", "五", "六", "日"],
    };
  },
  computed: {
    getTop4Tour() {
      return this.group.slice(0, 4);
    },
  },
  methods: {
    getTourData: function (_rawDate) {
      const date = new Date(_rawDate);
      return `${date.getMonth()}/${date.getDate()}(${
        this.myDate[date.getDay()]
      })`;
    },
  },
};
</script>

<style lang='scss' scoped>
.text-blue {
  color: #03a9f4;
}

.text-12px {
  font-size: 12px;
}

.w-60 {
  width: 60px;
}

.p-6 {
  padding: 0 6px;
}

.ml-10{
  margin-right: 10px;
}

.mytag {
  border: 1px #03a9f4 solid;
  color: #03a9f4;
  padding: 4px 0;
}

.dayPrice {
  color: #ff9800;
  font-size: 23px;
  font-weight: 700;
}
</style>