<template>
    <div class="flex">
      <div id="agency">{{ agency }}</div>
      <Rating :rating="rating"></Rating>
    </div>
</template>
<script>
import Rating from "./Rating";

export default {
  name: "CardTitle",
  components: {
    Rating,
  },
  props: {
    agency: String,
    rating: Number,
  },
};
</script>

<style lang='scss' scoped>
#agency {
  color: #777;
}

</style>