<template>
  <div class="nav flex">
    <div class="text-center">排序</div>
    <div class="text-center" @click="dropSwitch('rating')">
      精選評分 ▾
      <div class="content" :class="showRating">
        <div class="hover" @click.stop="sortByPirce('rating_asc')">
          評分：低至高
        </div>
        <div class="hover" @click.stop="sortByPirce('rating_desc')">
          評分：高至低
        </div>
      </div>
    </div>
    <div class="text-center" @click="dropSwitch('price')">
      價格 ▾
      <div class="content" :class="showPrice">
        <div class="hover" @click.stop="sortByPirce('price_asc')">
          價格：低至高
        </div>
        <div class="hover" @click.stop="sortByPirce('price_desc')">
          價格：高至低
        </div>
      </div>
    </div>
    <div class="text-center">天數 ▾</div>
    <div class="text-center">出發日期</div>
  </div>
</template>
<script>
export default {
  name: "NavBar",
  data: function () {
    return {
      //   showdrop: false,
      rating: false,
      price: false,
    };
  },
  computed: {
    showPrice: function () {
      return this.price === true ? "show" : "hide";
    },
    showRating: function () {
      return this.rating === true ? "show" : "hide";
    },
  },
  methods: {
    dropSwitch: function (_item) {
      this[_item] = !this[_item];
    },
    sortByPirce: function (_type) {
      if (_type === this.$route.query.sort) {
        return;
      }

      this.$router.push({
        query: {
          page: "1",
          row_per_page: this.$route.query.row_per_page,
          sort: _type,
        },
      });
    },
  },
};
</script>

<style lang='scss' scoped>
.nav {
  background-color: white;
  width: 100%;
  line-height: 40px;

  .text-center {
    flex-grow: 3;

    &:hover {
      background-color: rgba(218, 223, 225, 1);
    }
  }
}

.active {
  color: white;
  background-color: gray;
}

.show {
  display: block;
  position: absolute;
  background-color: white;
  z-index: 1;
}

.hide {
  display: none;
}

.hover {
  &:hover {
    background-color: rgba(218, 223, 225, 1);
  }
}

.content {
  width: 250px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}
</style>