<template>
  <div id="pagination">
    <div class="page-button" @click.stop="pageButton('remove')">&#060;</div>
    <div
      v-for="page in getPages"
      :key="page"
      :class="`page-items ${isActive(page)}`"
      @click.stop="changePage(page)"
    >
      {{ page }}
    </div>
    <div class="page-button" @click.stop="pageButton('add')">&#062;</div>
  </div>
</template>
<script>
export default {
  name: "Paginaion",
  props: { page: String },
  data: function () {
    return {
      maxPage: 7,
    };
  },
  computed: {
    getPages() {
      let result = [];
      const page = parseInt(this.page);
      if (page < 3) {
        for (let index = 1; index <= 5; index++) {
          result.push(index);
        }
      } else if (page > this.maxPage - 2) {
        for (let index = this.maxPage - 4; index <= this.maxPage; index++) {
          result.push(index);
        }
      } else {
        for (let index = page - 2; index <= page + 2; index++) {
          result.push(index);
        }
      }
      return result;
    },
  },
  methods: {
    changePage(_page) {
      this.$router.push({
        query: {
          page: `${_page}`,
          row_per_page: this.$route.query.row_per_page,
          sort: this.$route.query.sort,
        },
      });
    },
    pageButton(_type){
        let newPage = this.page
        if (_type === 'add' && this.page < this.maxPage) {
            newPage++
        }

        if (_type === 'remove' && this.page > 1) {
            newPage--
        }

        if (`${newPage}` === this.page) {
            return
        }

         this.$router.push({
        query: {
          page: `${newPage}`,
          row_per_page: this.$route.query.row_per_page,
          sort: this.$route.query.sort,
        },
      });
    },
    // mark active page
    isActive(_page) {
      if (`${_page}` === this.page) {
        return "active";
      }
      return "";
    },
  },
};
</script>

<style lang='scss' scoped>
#pagination {
  margin-top: 20px;
  // width: 80%;
  display: flex;
  justify-content: center;
}

.page-items {
  cursor: pointer;
  width: 37px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  &:hover {
    color: white;
    background-color: gray;
  }
}

.page-button {
  cursor: pointer;
  width: 54px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  &:hover {
    color: white;
    background-color: gray;
  }
}

.active {
  color: white;
  background-color: gray;
}
</style>