<template>
  <div class="flex flex-end">
    <svg
      v-for="index in rating"
      :key="'good-' + index"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 12.705 512 486.59"
      x="0px"
      y="0px"
      xml:space="preserve"
      width="13px"
      height="13px"
      fill="#ffc208"
    >
      <polygon
        points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "
      ></polygon>
    </svg>
    <svg
      v-for="index in 5 - rating"
      :key="'bad-' + index"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 12.705 512 486.59"
      x="0px"
      y="0px"
      xml:space="preserve"
      width="13px"
      height="13px"
      fill="gray"
    >
      <polygon
        points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "
      ></polygon>
    </svg>
  </div>
</template>
<script>
export default {
  name: "Rating",
  props: {
    rating: Number,
  },
};
</script>

<style lang='scss' scoped>

.flex-end{
  align-items:flex-end;
}
</style>