<template>
  <div id="tourCard" class="flex">
    <!-- tour pic -->
    <div id="tourPic" :style="{ backgroundImage: `url(${tour.image_url})` }">

    </div>
    <!-- tour content -->
    <div class="tourContent">
      <!-- Card title -->
      <CardTitle
        :agency="tour.agency"
        :rating="tour.rating"
      ></CardTitle>
      <!-- tour title -->
      <h2 id="title">{{ tour.title }}</h2>
      <TourTag :tags="tour.tags"></TourTag>
      <div id="divider"></div>
      <CardFooter
        :min-price="tour.min_price"
        :group="tour.group"
        :tour-days="tour.tour_days"
      ></CardFooter>
    </div>
  </div>
</template>

<script>
import TourTag from "./TourTag";
import CardFooter from "./CardFooter";
import CardTitle from "./CardTitle";

export default {
  name: "TourCard",
  props:{
    tour:Object
  },
  components: { TourTag, CardFooter, CardTitle },
  mounted: function () {},
  data: function () {
    return {
    };
  },
};
</script>

<style lang='scss' scoped>
#tourPic{
  width: 220px;
  height: 226px;
  // background-image: url("https://de0s2vtm6rzpn.cloudfront.net/359529/width/1596783785_x48.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#title {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  height: 50px;
}

.tourContent {
  background-color: white;
  width: calc(100% - 220px);
  padding: 10px;
}

#divider {
  margin: 20px 0;
  width: 100%;
  height: 1px;
  background-color: rgba(220, 220, 220, 0.5);
}

#tourCard{
  margin-top: 20px;
  width: 100%;
}
</style>