<template>
  <div class="m-center">
    <NavBar></NavBar>
    <template  v-for="tour in tours" >
      <TourCard :key="tour.id" :tour="tour"></TourCard>
    </template>
    <Pagination :page="this.$route.query.page"></Pagination>
    <Loading :show="loading"></Loading>
  </div>
</template>
<script>
// import testData from "../assets/data.json";
import axios from "axios";
import TourCard from "./TourCard";
import Pagination from "./Pagination";
import NavBar from "./NavBar";
import Loading from './Loading'

export default {
  name: "TourList",
  components: {
    TourCard,
    Pagination,
    NavBar,
    Loading
  },
  created: function () {
    this.defaultQuery();
    this.getTourData(this.$route.fullPath);
  },
  data: function () {
    return {
      length: 100,
      tours: [],
      loading: false
    };
  },
  watch:{
    '$route.fullPath'(){
      this.getTourData(this.$route.fullPath);
    }
  },
  methods: {
    getTourData(_queryString) {
      this.loading = true
      const cors = "https://cors-anywhere.herokuapp.com/";
      axios
        .get(
          `${cors}https://interview.tripresso.com/tour/search${_queryString}`
        )
        .then((res) => {
          window.scrollTo(0, 0);
          this.loading = false
          this.tours = res.data.data.tour_list;
        })
        .catch((error) => {
          console.error(
            `getTourData error : queryString is ${_queryString}, eroor is ${error}`
          );
        });
    },
    //   set dfault value to query params
    defaultQuery() {
      const query = this.$route.query;
      if (this.isEmpty(query)) {
        this.$router.push({
          query: { page: "1", row_per_page: 15, sort: "rating_desc" },
        });
      }
    },
    // check object is empty
    isEmpty(obj) {
      return Object.keys(obj).length === 0;
    },
  },
};
</script>

<style lang='scss' scoped>
  .m-center{
    margin: 0 auto;
  }
</style>