vue <template>
  <div>
    <span class="tags" v-for="tag in tags" :key="tag">{{ tag }}</span>
  </div>
</template>
<script>
export default {
  name: "TourTag",
  props: {
    tags: Array,
  },
};
</script>

<style lang='scss' scoped>
.tags {
  display: inline-block;
  margin: 3px;
  border-radius: 15px;
  font-size: 12px;
  padding: 0 7px;
  color: #03a9f4;
  background: #fff;
  border: 1px #03a9f4 solid;
  cursor: default;
}
</style>