<template>
  <div id="app" class="flex">
    <router-view id="content"></router-view>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
  mounted: function () {},
};
</script>

<style  lang='scss'>
body {
  background-color: #eeeeee;
}

.flex{
  display: flex;
}

.align-center{
  align-items: center;
}

.text-center{
  text-align: center;
}

.ml-auto{
  margin-left: auto;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  max-width: 80%;
  margin: 0 10%;
}

#content{
  width: 80%;
}
</style>
